version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    groups:
      crates:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/tools/notify"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    groups:
      crates:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/webui"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    groups:
      crates:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "dev"
    groups:
      crates:
        patterns:
          - "*"